{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  <h3>Welcome</h3>

  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/notes.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Notes
            </h5>
            Create Notes to refer them later. They are stored permanently until deleted
          </div>
        </div>
      </a>
    </div>
  </div>


</section>
{% endblock content %}